.main-container {
    display: flex;
    flex-direction: column;
    background-color: #14141F;
    height: 100vh;
    width: 100vw;
}
.left-leaf {
    position: absolute;
    width: 55vw;
    height: 45vh;
    top: 5vh;
}
.right-leaf {
    position: absolute;
    width: 45vw;
    height: 45vh;
    left: 60vw;
    top: 35vh;
}
.bottom-leaf {
    position: absolute;
    width: 80vw;
    top: 80vh;
}
.title {
    display: flex;
    flex-direction: column;
    font-family: 'Oleo Script';
    height: 10vh;
    margin-top: 25vh;
    margin-left: 25vw;
}
.title h1 {
    font-style: normal;
    font-weight: 400;
    height: 5vh;
    width: 50vw;
    font-size: 3rem;
    text-align: center;
    color: #E6E8EC;
    /* border: 2px solid #BF9B30; */    text-shadow: 0px 0px 10px rgb(191 155 48 / 61%);
}
.caption {
    font-family: 'Oleo Script';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #E6E8EC;
    width: 50vw;
}
.menu {
    margin-top: 35vh;
    font-size: larger;
    color: white;
    width: 100vw;
    text-align: center;
    font-family: 'Raleway';
    text-decoration: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}